* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.Slide {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.SlideSection {
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: all 2s;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    z-index: 1;
}

.SlideSection:nth-child(1) {
    background-color: #b0a0ba;
    top: 0;
    left: 0;
}

.SlideSection:nth-child(2) {
    background-color: #cfb0a0;
    top: 50vh;
    bottom: 0;
    right: 0;
}

.SlideSection > .ButtonText {
    font-size: 5em;
}

.SlideSection:nth-child(1) > .ButtonText {
    margin: auto auto 0 auto;
    transform: translateY(45px);
    color: #cfcca0;
}

.SlideSection:nth-child(2) > .ButtonText {
    margin: 0 auto auto auto;
    transform: translateY(-57px);
    color: #cfcca0;
}

.SlideSection:nth-child(1).Effect {
    transform: translateY(-100%);
}

.SlideSection:nth-child(2).Effect {
    transform: translateY(100%);
}
